@using RetroMusicSite.WebUI.Models
@using RetroMusicSite.WebUI.HtmlHelpers

@model  AudioViewModels

@{
    ViewBag.Title = "Аудиозаписи";
}

@foreach (var audio in @Model.Audios)
{
   @Html.Partial("AudioSummary",audio)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Audio", new { page = x }))
</div>
